# Exercise: Array DataStructure

1. Let us say your expense for every month are listed below,
	1. January -  2200
 	2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

In [12]:
l = [2200,2350,2600,2130,2190]

In [5]:
l[1]-l[0]

150

In [6]:
l[0]+l[1]+l[2]

7150

In [14]:
2000 in l

False

In [8]:
l.append(1980)

In [13]:
l[3]=l[3]-200
l

[2200, 2350, 2600, 1930, 2190]

In [32]:
heros=['spider man','thor','hulk','iron man','captain america']

In [33]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [34]:
heros.remove('black panther')
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [35]:
heros[1:3]=['doctor strange']

In [36]:
heros.sort()

In [37]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

In [38]:
def test(n):
    l = []
    for i in range(n):
        if i%2:
            l.append(i)
    return l

test(10)

[1, 3, 5, 7, 9]

In [18]:
heros

['spider man',
 'd',
 'o',
 'c',
 't',
 'o',
 'r',
 ' ',
 's',
 't',
 'r',
 'a',
 'n',
 'g',
 'e',
 'hulk',
 'black panther',
 'iron man',
 'captain america']